.taskCard {
    border: 1px solid gold;
    border-radius: 10px;;
    min-height: 200px;
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: left;
    margin: 10px 10px;
    background-color: black;
    color: gold;
    contain: layout;
}

input[type=checkbox] {
  transform: scale(2);
  margin-left: auto;
  align-self: flex-start;  
}

.completeStamp {
  position: absolute;
  color: red;
  text-align: center;
  /* margin-top: 40px; */
  width: 300px; 
  margin: 0px;
  visibility: hidden;
  

  
}



.titleField {
  padding: 10px;
  border-bottom: 1px solid gold;
  border-radius: 10px 10px 0 0;
  display: flex;

}


.titleField h4 {
  margin: 0px;
}

.titleField p {
  margin: 0px;
}

.descriptionField  p {
  color: gold;
  padding: 10px;
  margin: 0px;

}

.buttonField {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 10px;
}


/* complete behavior */

.complete .completeBtn{
  display: none;

}

.complete .completeStamp {

  visibility: visible;
  position: absolute;
  top: 50%;

  
}

.taskCard.complete {
  background-color: grey;
}


.complete p {
  text-decoration: line-through;
}

.complete h4 {
  text-decoration: line-through;
}

/* section colors */

.red {
  background-color: rgba(255, 0, 0, 0.500);
  color: black;
}

.yellow {
  background-color: rgba(255, 255, 0, 0.5);
  color: black;
}

.green {
  background-color: rgba(0,255,0,.5);
  color: black;
}