.banner {
  min-height: 175px;
  background-image: url("./horizons.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid gold;
}

.bannerHeader {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 5px 0px;
  padding: 5px 10px;
  border-radius: 10px;
}
